body{
 background-color: black;
color: white;
display: flex;
justify-content: center;
vertical-align: center;
align-items: center;
padding: 10px;
}

.mainscreen{
font-family: "Times New Roman", sans;
 color: white;
 display: flex;
justify-content: center;
align-content: center;
text-align: center;
font-size: 100px;
}

#link{
border: solid 5px white;
border-radius: 15px;
}

#svlink{
    background: linear-gradient(to right, red, purple);
}

#swshlink{
    background: linear-gradient(to right, #00a1ea, red);
}